.SelectTitle {
  color: white;
}

/* Wrapper pour centrer le filtre */
.FilterWrapper {
  display: flex;
  flex-direction: column; /* empile le titre et le select verticalement */
  align-items: center;    /* centre horizontalement */
  gap: 0.5rem;            /* espace entre le titre et le select */
  margin-bottom: 2rem;
}

/* Grille des événements */
.ListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  grid-auto-rows: 1fr;
}

.ListContainer > * {
   width: 100%;
   height: 100%;
  display: flex;
  flex-direction: column;
  
}

.EventCard {
  box-sizing: border-box;
  max-width: 100% ;
}

.ListContainer img {
  width: 100%;
  aspect-ratio: 350 / 320; /* fixe le ratio des images */
  object-fit: cover;
}
